%h1
  Vi har mottatt en e-post fra deg som vi ikke kan behandle

%p
  Det kan skyldes en skrivefeil i "Til" adressen

%p
  Om du sender for å levere inn signering, må du svare på e-post du fikk tilsendt fra oss.
  %br
  eller logge inn med
  = @email