!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
    %h1
      Signering gjennomført!

    %p
      Alle dine mottakere har gjennomført signeringen.
    %p
      Vedlagt finner du ferdig signer dokument, eller du kan logge inn for å laste ned dokumentet.

    %p
      Takk for at du brukte våre tjenester
      %p
        Vennlig hilsen oss i
        %strong Signlett
