Du har et dokument som venter på signering fra
= @user.first_name

Vedlagt finner du dokumentet som venter på signering.

For å fullføre signeringen svarer du bare på denne e-posten med ferdig signert dokument

Eller oppretter en bruker med
= @email