!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    :css
      .container {
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
      }
      .container .logo img {
        width: 25%;
        padding: 25px;
      }
      .container .main-content img {
        width: 60%;
        padding: 25px;
      }

      .container .main-content {
        background-color: #ffde79;
      }

      .main-content {
        padding: 25px;
      }

      .main-content h1, p {
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        color: #0c2b5b;
      }

      .info-content {
        background-color: #0068A5;
        padding: 25px;
      }

      .info-content p {
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        color: #fff;
      }
      @media only screen and (max-width: 600px) {
          .container {
            text-align: center;
            max-width: 80%;
            margin: 0 auto;
          }
        }

  %body

    .container
      .logo
        = image_tag "logo-text.svg"
      .main-content
        = image_tag "undraw_opened_gi4n.png"
        %h1
          Du har en signering fra
          = @user.first_name

      .info-content
        %p
          Vedlagt finner du dokumentet som venter på signering.
        %p
          For å fullføre signeringen svarer du bare på denne e-posten med ferdig signert dokument
