/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, html {
  height: 100%;
}
.height-100 {
  height: 100%;
  border: none;
}
.height-80{
  height: 80%;
}
.height-60{
  height: 60%;
}
.height-50{
  height: 50%;
}
.height-40{
  height: 40%;
}
.height-30{
  height: 30%;
}
.height-25{
  height: 25%;
}

/// MY CUSTOM COLOR VARIABLES
$custom-color: #81c784;

// RESTYLING THE TABS USING THE CUSTOM VARIABLE
.tabs {
  .tab {
    a {
      color: $custom-color !important;
      &.active {color: $custom-color !important;}
      &:hover {color: $custom-color !important;}
      &:focus {
        background-color: rgba($custom-color, 0.1) !important;
        &.active{
          background-color: rgba($custom-color, 0.1) !important;
        }
      }
    }
  }
  .indicator {background-color: $custom-color !important;}
}
