/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
///COLOR VARIABLES
$tab-color: #81c784;
$primary-color: #81c784;
$warning: #FFA726;
$warning-border: #F57C00;
$text-main-color: #0c2b5b;
$link-color: #0c2b5b;
$link-hover: #3462b1;
$orange-primary: #ffde79;

body, html {
  height: 100%;
}

.box{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10%;
  top: 0;
  left: 0;
  img {
    width: 110%;
  }
}

.background-clip {
  position: absolute;
  height: 90%;
  width: 100%;
  padding: 3%;
  background-color: $orange-primary;
  clip-path: polygon( 0% 0, 0% 100%, 100% 50%, 100% 0);
  @media only screen and (max-width: 600px) {
    clip-path: none;
    height: 100%;
  }
}

.login-clip {
  position: absolute;
  height: 90%;
  width: 100%;
  float: right;
  padding: 3%;
  background-color: $orange-primary;
  clip-path: polygon( 0% 0, 0% 100%, 40% 80%, 50% 20%, 15% 0);
  @media only screen and (max-width: 600px) {
    background-color: #fff;
  }
}

.container-box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.height-100 {
  height: 100%;
  border: none;
}
.height-80{
  height: 80%;
}
.height-60{
  height: 60%;
}
.height-50{
  height: 50%;
}
.height-40{
  height: 40%;
}
.height-30{
  height: 30%;
}
.height-25{
  height: 25%;
}

.width-100 {
  width: 100%;
}

// RESTYLING THE TABS USING THE CUSTOM VARIABLE
.tabs {
  background-color: rgba(0,0,0,0) !important;
  .tab {
    a {
      color: $primary-color !important;
      font-weight: 700 !important;
      &.active {color: $primary-color !important;}
      &:hover {color: $primary-color !important;}
      &:focus {
        background-color: rgba($primary-color, 0.1) !important;
        &.active{
          background-color: rgba($primary-color, 0.1) !important;
        }
      }
    }
  }
  .indicator {background-color: $primary-color !important;}
}

#login {
  a {
    font-size: 16px !important;
    color: #717171;
    &:hover {
      color: #0099cc;
    }
    &:first-child {
      border-right: 1px solid black;
    }
  }
}


/****************/
/*Alert boxes*/
.alert-box {
  margin-top: 5px;
  background-color: $orange-primary;
  border-radius: 5px;
  border-left: solid 5px $warning;
  color: $text-main-color !important;
}

.pa-5 {
  padding: 20px !important;
}
.pa-4 {
  padding: 10px !important;
}

.mt-4 {
  margin-top: 10px;
}

.dark {
  color: white;
}

.v-spacer{
  margin: 5px 5px 0 5px;
}

.valign-center{
  vertical-align: middle;
}

.bottom-align {
  bottom: 0;
}

/***********/
/*FONTS*/

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
}
a {
  font-family: 'Lato', sans-serif;
  font-weight: 500 !important;

}

p {
  font-size: 24px !important;
  font-weight: 300 !important;
}
a {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

h1, h2, h3 ,h4, h5 {
  font-weight: 700 !important;
}

#error_explanation{
  p {
    font-weight: 700 !important;
  }
}

.topnav {
  a {
    font-family: 'Lato', serif;
    font-weight: 700 !important;
  }
}

/*************/
/*COLORS*/

.text--blue-main {
  color: $text-main-color !important;
}

.primary-green {
  background-color: $primary-color !important;
}


/***********************/
/* NAVIGATION */

.topnav {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  width: 94%;
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 6%;
  a {
    float: right !important;
    display: block;
    color: $link-color;
    text-align: center;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
  }
  a:hover {
    color: $link-hover;
  }
  .logo {
    float: left !important;
    font-size: 2rem !important;
  }
}

.sidenav {
  p {
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
  }
}


/*******************/
/* BUTTON */
.custom-btn {
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 40px;
  letter-spacing: 1px;
  color: #fff !important;
  background-color: $text-main-color;
  border: none;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  &:hover {
    background-color: $link-hover;
    color: #fff;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

/************/
/*CUSTOM FOR SLIDER*/
.carousel {
    min-height: 600px !important;
}

